<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
    <title>License Key Website</title>
</head>
<body>
    <div id ="page">
        <h2>m2 coding challenge license key</h2>
        <div class = "inputforms" id ="inputformsID">
            <p>Please enter a license key to validate it</p>
            <form method="POST" action="/validate">
                <input type="text" id="licenseKey" name="licenseKey" placeholder="License Key"/>
                <button type="submit">Validate Key</button>
            </form>
            <p>Please enter a valid email address to receive a corresponding  license key</p>
            <form method="POST" action="/newlicensekey">
                <input type="text" id="emailAdressNewKey" name="emailAddress" placeholder="Email Address"/>
                <button type="submit">Get License Key</button>
            </form>
        </div>
    </div>
</body>
</html>